body {
  font-family: outfit;
  background-color: hsl(212, 45%, 89%);
  text-align: center;
  margin-top: 50px;
}
.border-background {
  background-color: white;
  border-radius: 15px;
  height: 550px;
  width: 350px;
  display: block;
  margin: 0 auto;
  padding: 0px 10px 0px 10px;
}
img {
  width: 325px;
  border-radius: 15px;
  margin-top: 15px;
}
.header {
  color: hsl(218, 44%, 22%);
  font-family: outfit;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 1px;
  max-width: 300px;
  margin: 0 auto;
  padding-top: 10px;
}

.description {
  color: hsl(220, 15%, 55%);
  font-weight: 400;
  font-size: 15px;
  max-width: 250px;
  margin: 0 auto;
  padding-top: 25px;
}

.sign {
  color: black;
  font-size: 15px;
  text-align: center;
  margin-top: 5px;
  font-family: "Courier New", Courier, monospace;
}
